asgiref==3.11.0
astroid==4.0.4
coverage==7.13.5
dill==0.4.1
Django==5.1.4
isort==8.0.1
mccabe==0.7.0
pillow==12.1.0
platformdirs==4.9.6
pylint==4.0.5
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
sqlparse==0.5.5
tomlkit==0.14.0
